<div class="container mt-5 text-center">
    <h2>What do you want to add?</h2>

    <div class="mt-4">
        <a href="/Category/Add" class="btn btn-warning btn-lg m-2">
            ➕ Add Category
        </a>

        <a href="/Food/Add" class="btn btn-primary btn-lg m-2">
            ➕ Add Menu Item
        </a>
    </div>
    <div class="mt-4">
        <a href="/Food/Index" class="btn btn-secondary">Back</a>
    </div>
</div>
